.mobileManu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: var(--almost-white);
    width: 50%;
}

.imgCloseMenu {
    cursor: pointer;
    margin-left: auto;
}

.imgCloseMenuWrapper {
    display: flex;
    padding: 30px;
}

.overlay {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.overlay.active {
    display: block;
}


.loginLinkMenuItem,
.registerLinkMenuItem {
    text-align: center;
}

.registerLinkMenuItem {
    margin-top: 10px;
}

.loginLink,
.registerLink {
    text-decoration: none;
    color: var(--medium-gray)
}

.registerLink {
    border: 1px solid var(--medium-gray);
    border-radius: 15px;
    padding: 10px 40px;
}

.registerLinkWrapper,
.loginLinkWrapper {
    text-align: center;
}

.registerLinkWrapper {
    margin-top: 30px;
}